<template name="register">
	<div class="login-page ng-scope ui-view"> 
    <div class="row"> 
      <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4"> 
        <img src="calendar-icon.png" class="user-avatar" /> 
        <h1>SchedFriend</h1>
	<h3>View Your Friend's Schedule</h3> 
        <form role="form" class="ng-pristine ng-valid"> 
          <div class="form-content"> 
            <div class="form-group"> 
              <input type="text" class="form-control input-underline input-lg" id="first-name" placeholder="First Name" /> 
            </div> 
            <div class="form-group"> 
              <input type="text" class="form-control input-underline input-lg" id="last-name" placeholder="Last Name" /> 
            </div> 
            <div class="form-group"> 
              <input type="text" class="form-control input-underline input-lg" id="university" placeholder="University" /> 
            </div> 
            <div class="form-group"> 
              <select class="form-control input-underline input-lg" id="year" placeholder="Year">  
            	<option value="Freshman"> Freshman</option>
            	<option value="Sophomore"> Sophomore</option>
            	<option value="Junior"> Junior</option>
            	<option value="Senior"> Senior</option>
	      </select>
	    </div> 
            <div class="form-group"> 
              <input type="text" class="form-control input-underline input-lg" id="email" placeholder="Email" /> 
            </div> 
            <div class="form-group"> 
              <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password" /> 
            </div> 
            <div class="form-group"> 
              <input type="password" class="form-control input-underline input-lg" id="password-again" placeholder="Confirm Password" /> 
            </div> 

          </div> 
          <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded" id= "register-button">Register</button> 
          <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded" id= "login-redirect"> Back To Login </button> 
        </form> 
      </div> 
    </div> 
  </div>
</template>
