<template name="settings">
	<div key="reports" class="reports-page ui-view main">
	  <div class="ng-scope"> 
	    <a href="/dashboard/overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a> 
	    <h2> Settings <small>Update Personal Info</small></h2> 

<div class="container">
	<div class="row">
        
        
       <div class="col-md-10 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Profile Info</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
    
              <!-- /input-group -->
            <div class="col-sm-6">
            <span><h4 style="color:#00b1b1;">{{currentUser.profile.firstName}} {{currentUser.profile.lastName}} </h4></span>
              <span><p>{{currentUser.profile.year}}</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " >First Name: </div><input type="text" class="col-sm-4" id="firstName" placeholder="{{currentUser.profile.firstName}}" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Last Name: </div><input type="text" class="col-sm-4" id="lastName" placeholder="{{currentUser.profile.lastName}}" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " > Email: </div><input type="text" class="col-sm-4" id="email" placeholder="{{currentUser.emails.[0].address}}" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " > Password: </div><input type="password" class="col-sm-4" id="password" placeholder="Password" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >University: </div><input type="text" class="col-sm-4" id="university" placeholder="{{currentUser.profile.university}}" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Dorm: </div><input type="text" class="col-sm-4" id="dorm" placeholder="{{currentUser.profile.dorm}}" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>



<div class="col-sm-5 col-xs-6 tital " >Year: </div><input type="text" class="col-sm-4" id="year" placeholder="{{currentUser.profile.year}}" /> 
  <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-sm-5 col-xs-6 tital " >Major: </div><input type="text" class="col-sm-4" id="major" placeholder="{{currentUser.profile.major}}" /> 

 <div class="clearfix"></div>
<div class="bot-border"></div>


<a href="/dashboard/reports" id= "updateProfile" class="pull-right btn btn-primary btn-outline btn-rounded">Update Profile</a>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  
       
       
       
       
       
       
       
       
       
   </div>
</div>

	  </div>
	</div>
</template>
